<header>
    <nav>
        <img src="/img/the_simpsons.png" alt="nav">
        <div id="divNavigator">
            <a href="/">Home</a>
            <a href="/favorite">
                Favorite</a>
        </div>
    </nav>
</header>